<tr>
  <td><%= feedback.user.name %></td>
  <td><%= feedback.content %></td>
  <% if user_feedback feedback %>
    <td><%= link_to t(".delete"), feedback,
      method: :delete, data: {confirm: t(".sure")} %></td>
  <% end %>
</tr>
