@import 'bootstrap-sprockets';
@import 'bootstrap';

// mixins, variables, etc.

$gray-medium-light: #eaeaea;
$red: #f00;
$white: #fff;
$black: #000;
$noti-not-read: #e9ebee;
$noti-not-read-hover: #f6f7f9;
$gray-body: #e9ebee;
$message-sent: #94c2ed;
$message-received: #86bb71;
$green: #86bb71;
$blue: #94c2ed;
$orange: #e38968;
$gray: #92959e;
$chat-bg: #c5ddeb;
$chat-list: #444753;
$coral: #ff7f50;
$lightcoral: #f08080;
// universal

body {
  background-color: $gray-body;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

// typography

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $gray-light;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// form

input,
textarea,
select,
.uneditable-input {
  border: 1px solid;
  margin-bottom: 15px;
  width: 100%;
}

input {
  height: auto !important;
}

// error-explanation
.error-explanation {
  color: $red;

  ul {
    color: $red;
    margin: 0 0 30px;
  }
}

.checkbox {
  margin-bottom: 10px;
  margin-top: -10px;

  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

// boostrap
.col-md-3:nth-child(4n+1) {
  clear: left;
}

//notification
.dropdown-notification li {
  border-bottom: 1px solid $gray-light;
  height: 25px;

  &:last-child {
    border-bottom: 0;
  }
}

.notification input {
  background: $white;
  border: 0;
}

.not-read {
  background-color: $noti-not-read;

  a:hover,
  a:focus,
  a:active {
    background-color: $noti-not-read-hover;
  }
}

.highcharts-credits {
  display: none;
}

//search
.btn-search {
  margin-top: -15px;
}

// slide-header
.slide-header {
  height: 300px;

  img {
    width: 100%;
  }

  .slide-item {
    height: 100%;
  }
}

.category {
  background-color: $white;

  a {
    color: $black !important;
  }
}

.raty-cancel {
  display: none;

  ul {
    list-style: none;
    padding-left: 0;
  }
}

.messages-list {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

.message-sent {
  background-color: $message-sent;
  float: right;
  margin: 5px 20px;
  padding: 10px;
  position: relative;
}

.message-received {
  background-color: $message-received;
  float: left;
  margin: 5px 20px;
  padding: 10px;
}

.chat {
  background-color: $chat-bg;
  height: 100vh;
  width: 100vw;
}

.chat-list {
  color: $chat-list;
}

.panel panel-primary {
  background-color: $chat-list !important;
}

.list-products {
  margin-top: 70px;
}

.ui-menu-item {
  color: $lightcoral;
  font-weight: bold;
  list-style: none;
}

.suggest {
  color: $red;
}

.suggest em {
  color: $coral;
}
