<%= form_for remove_wish, html: {method: :delete}, remote: true do |f| %>
    <%= button_tag(type: "submit", class: "btn btn-warning") do %>
      <%= t ".remove_wish_list" %>
      <span class="glyphicon glyphicon-minus-sign"></span>
  <% end %>
<% end %>
