<%= render "nav_search", products: @products, categories: @categories %>
<div id="list-products" class="row list-products">
  <% @products.each do |product| %>
    <div class="col-sm-4 col-lg-4 col-md-4">
      <%= render "product_small", product: product %>
    </div>
  <% end %>
</div>
<%= will_paginate @products %>
