<div id="chart-happy" data-pointInterval="<%= @supports.info_step %>"
  data-pointStart = "<%= @supports.rp %>"
  data-datasale = "<%= @supports.dt_sale current_user %>"
  data-datapurcharse = "<%= @supports.dt_order current_user %>">
</div>
