<li class="dropdown">
  <%= link_to "#!", class: "dropdown-toggle", id: "noti-count", data: {toggle: "dropdown"},
    aria: {haspopup: "true", expanded: "false"} do %>
    <span class="fa fa-globe"></span>
    <span class="badge badge-danger" data-noti-count="<%= user_signed_in? ? current_user.notifications.false.count : 0 %>">
      <%= user_signed_in? ? current_user.notifications.false.count : 0 %>
    </span>
    <span class="caret"></span>
  <% end %>
  <% if user_signed_in? %>
    <ul class="dropdown-menu dropdown-notification scrollable-menu" id="user-notifications">
      <%= render current_user.notifications %>
    </ul>
  <% end %>
</li>

